

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1646483276792-0 {top: 420px; left: 0px; height: 140px; width: 306px;
        }
        .silex-id-1646484105419-8 {top: 20px; left: 40px; height: 100px; width: 100px;
        }
        .silex-id-1646484406837-11 {left: 40px; height: 2em; width: 100px; top: 30px;
        }
        .silex-id-1646484428828-12 {top: 80px; left: 40px; height: 2em; width: 100px;
        }
        .silex-id-1646483633814-3 {top: 30px; left: 260px; height: 2em; width: 100px;
        }
        .silex-id-1646483640058-4 {top: 80px; left: 260px; height: 2em; width: 100px;
        }
        .silex-id-1646484561922-13 {top: 50px; left: 150px; height: 2em; width: 100px;
        }
        .silex-id-1646484615565-14 {top: 20px; left: 260px; height: 100px; width: 100px;
        }
    